n8n-crash-course.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "User Details",
        "formDescription": "Fill the user info",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Enter your name here",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Enter your email",
              "requiredField": true
            },
            {
              "fieldLabel": "Phone number",
              "fieldType": "number",
              "placeholder": "Enter your phone number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -480,
        112
      ],
      "id": "f186aacb-cb7a-42fa-8644-dd41d1cdff1c",
      "name": "On form submission",
      "webhookId": "61b7d004-48ee-4f4b-9d23-39b805385cad"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "DUpDa9VFEZuJz6L8",
          "mode": "list",
          "cachedResultName": "users",
          "cachedResultUrl": "/projects/l5X1Q1o31MZmxrhq/datatables/DUpDa9VFEZuJz6L8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "number": "={{ $json['Phone number'] }}",
            "name": "={{ $json.Name }}",
            "email": "={{ $json.Email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -96,
        32
      ],
      "id": "20812598-fd80-48cf-9623-016bc7f45485",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "DUpDa9VFEZuJz6L8",
          "mode": "list",
          "cachedResultName": "users",
          "cachedResultUrl": "/projects/l5X1Q1o31MZmxrhq/datatables/DUpDa9VFEZuJz6L8"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ $json.Name }}"
            },
            {
              "keyName": "email",
              "keyValue": "={{ $json.Email }}"
            },
            {
              "keyName": "number",
              "keyValue": "={{ $json['Phone number'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -288,
        32
      ],
      "id": "99f9041c-b697-4242-ab87-74b075542e19",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "DUpDa9VFEZuJz6L8",
          "mode": "list",
          "cachedResultName": "users",
          "cachedResultUrl": "/projects/l5X1Q1o31MZmxrhq/datatables/DUpDa9VFEZuJz6L8"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ $json.Name }}"
            },
            {
              "keyName": "email",
              "keyValue": "={{ $json.Email }}"
            },
            {
              "keyName": "number",
              "keyValue": "={{ $json['Phone number'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -288,
        240
      ],
      "id": "23801104-9d3e-4a3c-b4fb-6bb4f629efb1",
      "name": "If row exists"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Error",
        "completionMessage": "user already exists",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -80,
        240
      ],
      "id": "aa7db62c-0f56-4721-928a-fbecaa6c6c98",
      "name": "Form",
      "webhookId": "905b17d9-e2f6-4cda-8709-fde39d782cc8"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Finished",
        "completionMessage": "user added with success",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        112,
        32
      ],
      "id": "8196d59e-20da-413e-b997-6201b7f4da46",
      "name": "form end",
      "webhookId": "f3040fbf-c2ad-4e7e-a93e-432b6b670254"
    },
    {
      "parameters": {
        "content": "## n8n Form and database\n\nMake sure you have create data tables with the following columns : name, number and email .",
        "height": 528,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        -96
      ],
      "id": "1f14e76d-445d-41ec-bdd5-48279213025a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        624,
        64
      ],
      "id": "f7853928-2235-4425-a3d8-a711afd7ae8b",
      "name": "When chat message received",
      "webhookId": "072aef79-be13-4a36-9dff-f282a9bb8539"
    },
    {
      "parameters": {
        "content": "## Simple chatbot\nMake sure you add your google api key",
        "height": 416,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -96
      ],
      "id": "94fa4af1-2187-4397-9a85-5cc6a9d49bf7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite-preview-06-17",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite-preview-06-17"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "id": "bdfe3d94-bc7f-43e3-a131-767396814a93",
      "name": "Gemini Message Model"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        816,
        160
      ],
      "id": "ce8232f1-902f-45b2-a975-24d3a70d8048",
      "name": "OpenAI message model",
      "credentials": {
        "openAiApi": {
          "id": "LwJ4VpVRzknzRyoN",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "content": "## Simple Telegram AI Agent\nCreate new bot by sending `/new_bot` to the bot father in telegram, give it name, username and you will get an access token",
        "height": 496,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        352
      ],
      "id": "755a904f-2c00-41b9-b703-5fc95f67f3cd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        832,
        464
      ],
      "id": "8dd593c3-5df2-40b5-b97b-d3ac2cf2e3ea",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        704,
        656
      ],
      "id": "f2f9d798-ebf2-4261-a4a3-c57a1fc1ca44",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LwJ4VpVRzknzRyoN",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        848,
        672
      ],
      "id": "375efc85-f479-445c-abb0-d562bee89cc8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "DUpDa9VFEZuJz6L8",
          "mode": "list",
          "cachedResultName": "users",
          "cachedResultUrl": "/projects/l5X1Q1o31MZmxrhq/datatables/DUpDa9VFEZuJz6L8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('number', ``, 'number') }}",
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        1200,
        608
      ],
      "id": "63c85ed2-73de-4236-8e30-2d3c904945e8",
      "name": "Insert row in Data table"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "DUpDa9VFEZuJz6L8",
          "mode": "list",
          "cachedResultName": "users",
          "cachedResultUrl": "/projects/l5X1Q1o31MZmxrhq/datatables/DUpDa9VFEZuJz6L8"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            },
            {
              "keyName": "email",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Value', ``, 'string') }}"
            },
            {
              "keyName": "number",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions2_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        976,
        688
      ],
      "id": "c2936883-5957-439c-b087-386c7bd08ed5",
      "name": "Get row(s) in Data table"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "DUpDa9VFEZuJz6L8",
          "mode": "list",
          "cachedResultName": "users",
          "cachedResultUrl": "/projects/l5X1Q1o31MZmxrhq/datatables/DUpDa9VFEZuJz6L8"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            },
            {
              "keyName": "email",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Value', ``, 'string') }}"
            },
            {
              "keyName": "number",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions2_Value', ``, 'string') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('number', ``, 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        1088,
        640
      ],
      "id": "7933bf36-8a4c-479b-b651-1de8d43f1bbf",
      "name": "Update row(s) in Data table"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        624,
        464
      ],
      "id": "119f4abb-a4db-4042-aa13-e7bcfe9a526f",
      "name": "Telegram Trigger",
      "webhookId": "90dcd77b-16c7-45a8-a2c8-91c7330b44ec"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        464
      ],
      "id": "9bef5676-f4c2-43ef-87ce-0807f1b740fd",
      "name": "Send a text message",
      "webhookId": "1c37d153-f36b-4816-9dc8-5542b834c9c5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        784
      ],
      "id": "842bec06-962c-426e-add9-2f6a1398ce67",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "cd19b105-6871-4f38-8449-31f098fd6ebb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d1a164e-e61e-4916-8dd8-5532baa447af",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -304,
        560
      ],
      "id": "60372be7-5777-4a44-8000-4e332ec75c04",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        464
      ],
      "id": "8ceccece-26d7-40e3-9cb0-26fdd5c9a0c9",
      "name": "Get a file",
      "webhookId": "fe543d1d-6b92-4de8-84ff-f9035020bbf5"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite-preview-06-17",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite-preview-06-17"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        112,
        464
      ],
      "id": "0ff9d74f-9bf7-4e7e-9843-455e6aa9e25e",
      "name": "Transcribe a recording"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\n{{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -64,
        592
      ],
      "id": "345e6b17-78c8-4df1-ba6f-f7048201c86d",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "dJm6magq7OSnJ7sx",
          "mode": "list",
          "cachedResultName": "users",
          "cachedResultUrl": "/projects/l5X1Q1o31MZmxrhq/datatables/dJm6magq7OSnJ7sx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('number', ``, 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        304,
        800
      ],
      "id": "24f055ba-a523-4ebc-bd02-762dbc6b1b47",
      "name": "Insert row in Data table1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "dJm6magq7OSnJ7sx",
          "mode": "list",
          "cachedResultName": "users",
          "cachedResultUrl": "/projects/l5X1Q1o31MZmxrhq/datatables/dJm6magq7OSnJ7sx"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            },
            {
              "keyName": "email",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Value', ``, 'string') }}"
            },
            {
              "keyName": "number",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions2_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        96,
        800
      ],
      "id": "3894ff80-4129-40bf-949b-3415b7ffee4a",
      "name": "Get row(s) in Data table1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "dJm6magq7OSnJ7sx",
          "mode": "list",
          "cachedResultName": "users",
          "cachedResultUrl": "/projects/l5X1Q1o31MZmxrhq/datatables/dJm6magq7OSnJ7sx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('name', ``, 'string') }}",
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('number', ``, 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        192,
        800
      ],
      "id": "3204b090-3a7f-4f6e-9592-f4b26af512e4",
      "name": "Update row(s) in Data table1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        560
      ],
      "id": "1183d3c3-112c-4904-9fe4-a689539bdb12",
      "name": "Telegram Trigger1",
      "webhookId": "90dcd77b-16c7-45a8-a2c8-91c7330b44ec"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        592
      ],
      "id": "1d3bfd8f-b761-47a6-b7f7-3f0beead710b",
      "name": "Send a text message1",
      "webhookId": "1c37d153-f36b-4816-9dc8-5542b834c9c5"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger1').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        784
      ],
      "id": "36ce4de7-a9f2-4a1f-aca0-1bfa7489ea75",
      "name": "Simple Memory1",
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "## Telegram Agent with Audio",
        "height": 496,
        "width": 1126
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        464
      ],
      "id": "a83195b9-f85c-466b-bd2e-d8da2ddce377",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "File",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -336,
        1072
      ],
      "id": "32bf2367-ca18-4616-ae6d-a037792eaaa8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        0,
        1072
      ],
      "id": "74609712-e872-48a6-9d86-91c8197eda57",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -128,
        1392
      ],
      "id": "014620dd-0f68-46cb-9c02-2ac7dd83e4b4",
      "name": "Embeddings Google Gemini1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        112,
        1312
      ],
      "id": "b619291d-e42c-4144-98a2-4de237fd68cb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d8db6c5c-7b24-42e5-8e5c-ed377deee550",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        1072
      ],
      "id": "69675d92-b77a-439d-9913-0f49309c0e75",
      "name": "Set the content"
    },
    {
      "parameters": {
        "mode": "load",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "prompt": "={{ $json.chatInput }}",
        "topK": 3,
        "includeDocumentMetadata": false
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        368,
        1136
      ],
      "id": "4c4dc3e5-b8c4-4153-845d-85d83b9247e6",
      "name": "Retrieval"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "document.pageContent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        720,
        1136
      ],
      "id": "c8b89e01-b89b-494d-99d8-19056968e696",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b36a6e9f-b799-4108-9bc3-dd6e0d9638d9",
              "name": "retrieval_items",
              "value": "={{  \"\".concat($json.pageContent)}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        1136
      ],
      "id": "a6fd2298-64f4-425c-bc76-9013893c76fc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "formTitle": "Upload your PDF",
        "formFields": {
          "values": [
            {
              "fieldLabel": "File",
              "fieldType": "file",
              "acceptFileTypes": ".pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -512,
        1072
      ],
      "id": "e78ed0fb-edba-4c36-8367-de957a646502",
      "name": "On form submission1",
      "webhookId": "4ec5336c-72d4-4a91-a136-edccd27d18fb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The retereival documents:  {{ $json.retrieval_items }}\nUser ask the following:{{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant, your job is to answer the questions that the user asks, you will get the retrieval documents that is related to the question as well as the user question."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1200,
        1136
      ],
      "id": "6a04d6d9-88f2-4119-89a5-002106b148df",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1200,
        1328
      ],
      "id": "0ad2f805-ce60-44d5-bb1c-1190324c17ec",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1296,
        1328
      ],
      "id": "2abfc4bf-efed-4c3c-af2b-d13e054dc52a",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "content": "## Prompting and retrieval \n\n(make sure you add the chat trigger befire the Retreival",
        "height": 464,
        "width": 1152
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        1008
      ],
      "id": "af645731-f5e4-49cb-951a-16c9617faea4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Embeddings",
        "height": 544,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        992
      ],
      "id": "1fbd2118-5bcd-4d7f-b75b-8f3856774a04",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4575ee1a-f053-425b-ba23-e358ad064383",
              "name": "text",
              "value": "=The authors are  {{ $json.info.Author }} .\nThe creator is :{{ $json.info.Creator }} .\nTitle of the document:{{ $json.info.Title }} .\n\nContent of the document:{{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1472,
        -48
      ],
      "id": "e0f6be28-6254-47a9-b245-30dfb5e21fe7",
      "name": "set Variables"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1632,
        -48
      ],
      "id": "2d85b2d8-0eee-4051-a2f6-59b8f30bbc91",
      "name": "Extract from Uploaded Doc"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1184,
        176
      ],
      "id": "fd876afd-af11-4a47-82e1-4c6c3936358b",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "mydatabase",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -1296,
        -48
      ],
      "id": "d0eaaa7f-82da-408b-a0ee-4dc4c455a7b3",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9340755b-3c61-4107-84ff-e05d72c7050e",
              "name": "retrieval_content",
              "value": "={{\"\".concat($json.pageContent) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1792,
        352
      ],
      "id": "b696204f-f2bf-4dbd-b26e-2d057f23366b",
      "name": "Set contents into one item"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "pageContent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -944,
        -48
      ],
      "id": "f6ece242-6567-4cf4-8570-17f5b0761bdd",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3168,
        320
      ],
      "id": "8eadba54-5ea3-4674-94e1-5adfc920d20f",
      "name": "Get the audio",
      "webhookId": "fe543d1d-6b92-4de8-84ff-f9035020bbf5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec792412-82e9-4d86-aeab-e40117f78788",
              "name": "query",
              "value": "={{ $json.content.parts[0].text }}\n{{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2592,
        208
      ],
      "id": "e8cd21cf-8952-45b7-a65b-7b9811a82246",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1808,
        -48
      ],
      "id": "b29979a2-2da9-4ae4-891e-b32c996994a4",
      "name": "Get a file1",
      "webhookId": "429164a6-a3e6-40b8-bef9-a9655a111536"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.document }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "0db53750-0069-48b5-97e0-b29b1a9fd4fc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0add9bf5-091f-4913-96e1-1d751304ed03",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "010a1a7a-68c9-4a7a-b338-a8beaec25474",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3376,
        80
      ],
      "id": "397ff606-a2b3-4d38-86e2-cb14a465cfaa",
      "name": "Switch1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3584,
        80
      ],
      "id": "1633b800-0a40-4e27-bc5c-f3c1ed359c45",
      "name": "Telegram Trigger2",
      "webhookId": "1354f326-8986-4123-a0cd-89082721681a"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1728,
        880
      ],
      "id": "84b2c7bb-fdf6-4d5e-aecb-7e4d42ba4987",
      "name": "Embeddings Google Gemini"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger2').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1328,
        592
      ],
      "id": "08348f8b-6562-4b90-8516-dc4ed316dc86",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1968,
        736
      ],
      "id": "601043c9-78d2-4a43-95db-d28532ad21b1",
      "name": "Google Gemini Chat Model2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Retieval document:  {{ $json.retrieval_content }}\n\nUser question is {{ $('Edit Fields1').item.json.query }}",
        "options": {
          "systemMessage": "You are a helpful assistant, your job is to answer the user question based on the provided content. You are answer should not contains no mardown format, just pure text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1616,
        320
      ],
      "id": "7b5bea61-7576-48f8-826a-e940f596a9ff",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "document.pageContent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1968,
        352
      ],
      "id": "fac6e051-391a-4b31-972b-c26f6dffacee",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "mode": "load",
        "memoryKey": {
          "__rl": true,
          "value": "mydatabase",
          "mode": "list",
          "cachedResultName": "mydatabase"
        },
        "prompt": "={{ $json.query }}"
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -2304,
        352
      ],
      "id": "c365a67d-f892-4ee5-a5c8-23350ec5bee4",
      "name": "Retrieval1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger2').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -896,
        272
      ],
      "id": "a74ba525-b2a3-4a0d-86b5-471fc63fcd74",
      "name": "Send a text message2",
      "webhookId": "d19ca54d-6b41-4661-b550-80cf143f005e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85064a5e-fe77-4aef-aa7f-77eff00cbbd2",
              "name": "output",
              "value": "Your document added to database with success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        -48
      ],
      "id": "307e3331-04cf-4cfe-89b8-9c6856754b19",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite-preview-06-17",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite-preview-06-17"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2960,
        352
      ],
      "id": "ba3ed524-e9d8-4f91-afcd-fc2b960912dd",
      "name": "Transcribe a recording1"
    },
    {
      "parameters": {
        "content": "## Full RAAG Agent with Telegram\nSetup your telegram access token and credentials of gemini",
        "height": 1120,
        "width": 3056
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3648,
        -96
      ],
      "id": "08c9a9b0-0c04-48c4-a5ba-7bd9c5395eff",
      "name": "Sticky Note6"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          },
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "form end",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row exists": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Gemini Message Model",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI message model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Insert row in Data table": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data table": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s) in Data table": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row in Data table1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data table1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s) in Data table1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Set the content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Retrieval",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Set the content": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieval": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "set Variables": {
      "main": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Uploaded Doc": {
      "main": [
        [
          {
            "node": "set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set contents into one item": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Retrieval1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Extract from Uploaded Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get the audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Retrieval1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Set contents into one item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieval1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Telegram Trigger2": [
      {
        "update_id": 544518258,
        "message": {
          "message_id": 148,
          "from": {
            "id": 6200418347,
            "is_bot": false,
            "first_name": "AI",
            "last_name": "Josheow",
            "username": "Josheow",
            "language_code": "fr"
          },
          "chat": {
            "id": 6200418347,
            "first_name": "AI",
            "last_name": "Josheow",
            "username": "Josheow",
            "type": "private"
          },
          "date": 1761427599,
          "voice": {
            "duration": 4,
            "mime_type": "audio/ogg",
            "file_id": "AwACAgQAAxkBAAOUaP1Aj_ydMkpD3qqwVT08VHkly2kAAo4cAAL4puhTeyvdCyT32aE2BA",
            "file_unique_id": "AgADjhwAAvim6FM",
            "file_size": 15678
          }
        }
      }
    ]
  },
  "meta": {
    "instanceId": "d5987c663fac471fb871fdd0e8a24d046e32bc9a4c03142b55793cc44c3263ab"
  }
}
