RAG inside Slack.json
{
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        -272
      ],
      "id": "072915c7-4362-4afc-95b2-414c4bf6305f",
      "name": "Slack Trigger",
      "webhookId": "75874fa4-5100-4759-81dd-28e62a74a47a",
      "credentials": {
        "slackApi": {
          "id": "UUfj84Ye7SAiOrMB",
          "name": "n8n Youtube Automation App"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbbaadd9-292f-48a3-824b-cf82f53183fc",
              "leftValue": "={{ $json.files }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        -560
      ],
      "id": "20919e65-95fb-45e7-8f47-f9dc3b24c5c8",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        -576
      ],
      "id": "14e6f1f6-b417-45ee-8731-f24415540179",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.files[0].url_private }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        -480
      ],
      "id": "03b04a85-54aa-4ebc-9558-bbf05d322ad3",
      "name": "Download File",
      "credentials": {
        "slackApi": {
          "id": "UUfj84Ye7SAiOrMB",
          "name": "n8n Youtube Automation App"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "slack_youtube_db",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        640,
        -480
      ],
      "id": "1cc94af6-dc65-4a6c-8ee6-b3b480c1af9d",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        512,
        -288
      ],
      "id": "b00e878c-4d7f-436a-8dc5-b1fa629021c7",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "rj0oQ3xdYsOrGywr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        896,
        -288
      ],
      "id": "671d6dae-6a1f-4e1b-b9d4-62f1ad9e4b8a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.channel }}",
          "mode": "id"
        },
        "text": "Documents added with success",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        448,
        -672
      ],
      "id": "cee8a588-0cb6-465d-abc3-c2826008a94e",
      "name": "Documents Added with success",
      "webhookId": "ab4cf1e2-9bb0-4f15-b515-d4f75a2a6dbe",
      "executeOnce": true,
      "credentials": {
        "slackApi": {
          "id": "UUfj84Ye7SAiOrMB",
          "name": "n8n Youtube Automation App"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d25a0b08-1a72-4356-8c30-02448b7fd01e",
              "leftValue": "={{ $json.blocks[0].elements[0].elements[1].text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        -32
      ],
      "id": "53e1cdd8-513a-4418-ae32-cd1451f3c8e8",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.blocks[0].elements[0].elements[1].text }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        256,
        -48
      ],
      "id": "46eaee0d-a6e5-47f5-9d17-c2f2f9e523d4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        176
      ],
      "id": "8b3eb2e1-4380-4126-b5d3-58a25164c1cd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rj0oQ3xdYsOrGywr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"Slack Trigger\"].json[\"channel\"] }}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        624,
        -48
      ],
      "id": "d9b2ccdb-f566-450a-a0ff-44398ccebda3",
      "name": "Answer the query",
      "webhookId": "7c83b3f9-8796-4c9e-bb9b-22e878298c44",
      "executeOnce": true,
      "credentials": {
        "slackApi": {
          "id": "UUfj84Ye7SAiOrMB",
          "name": "n8n Youtube Automation App"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        464,
        432
      ],
      "id": "94b14d50-dbd5-4ed7-90e4-0812692a9e10",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "rj0oQ3xdYsOrGywr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Slack Trigger').item.json.user }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        304
      ],
      "id": "b67b0b37-edf6-416d-b16b-779907d6b3b5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve documents if necesserry",
        "memoryKey": {
          "__rl": true,
          "value": "slack_youtube_db",
          "mode": "list",
          "cachedResultName": "slack_youtube_db"
        },
        "topK": 2,
        "includeDocumentMetadata": false
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        448,
        240
      ],
      "id": "2f07a9de-5d00-43d0-9055-248f3c40579f",
      "name": "Retrieval"
    },
    {
      "parameters": {
        "content": "## Document storing",
        "height": 560,
        "width": 1152
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        -688
      ],
      "id": "38947149-5770-4595-866e-7540a031e016",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Retrieval",
        "height": 688,
        "width": 928,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        -96
      ],
      "id": "5adb2c8f-ee57-4e8f-8fd6-6ff2a4a69da2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Chat with Documents inside Slack\n\nYou can watch this [video](https://youtube.com/ke)",
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -912,
        -608
      ],
      "id": "6cdc9d0b-8ff9-4034-a214-70f276a7dae6",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Documents Added with success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Answer the query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Retrieval",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Retrieval": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bca60492606e67bb56468093fc75425ac3d20b14abf07d82bf2394c609c37d26"
  }
}
