RAG Ultimate Agent.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        -16
      ],
      "id": "9974f366-27b4-448a-95b1-d08983c9612f",
      "name": "Telegram Trigger",
      "webhookId": "963c921c-500f-4f1d-80db-ff53bfb33ac1",
      "credentials": {
        "telegramApi": {
          "id": "oy1rl7d7ACn56JwN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "5549f719-8d92-45b9-bf6d-443512535cc3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7f98a02c-1f97-4aaf-a79c-bc957a55763c",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cc189c3b-fd6e-4174-8b9f-f2b50767c0b9",
                    "leftValue": "={{ $json.message.document }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -784,
        -32
      ],
      "id": "3b59b4af-c664-47cb-841d-127ed071279a",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf17ea6f-39a6-440e-b200-c1e4a8f63f86",
              "name": "query",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -368
      ],
      "id": "65ce0cd0-35bc-47aa-8194-7144237e7594",
      "name": "Set Text"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        960,
        -288
      ],
      "id": "82db958b-7aa3-404c-bd9f-baf6d2214f81",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ewMDzXfRPQrSlmHs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        1408
      ],
      "id": "9f08cab8-221e-4b44-880c-356cc24de23a",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "ewMDzXfRPQrSlmHs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.document[\"file_id\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        640
      ],
      "id": "3bd0a29f-a481-4d4c-bae0-496d457ace88",
      "name": "Get a file",
      "webhookId": "b2ade90f-f3a0-4573-a824-6f592dbd8216",
      "credentials": {
        "telegramApi": {
          "id": "oy1rl7d7ACn56JwN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -256,
        640
      ],
      "id": "a4ca0788-536e-49eb-9eda-4fca024fdb28",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve documents that are related to the user query",
        "memoryKey": {
          "__rl": true,
          "value": "mydocs",
          "mode": "list",
          "cachedResultName": "mydocs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        464,
        896
      ],
      "id": "d518c074-5eee-4d42-8047-88b8d6a5fa72",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1072,
        -272
      ],
      "id": "b3c1183b-7843-4950-b5cd-d466587415db",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are manager agent, your job is to help the user out of his tasks, retrieve from docs, emails or calander as per request.\n\nDont assume anything, call the agent that are specialize in the user request.\n\nYou output has to be clean, no markdown at all\nToday is {{$now}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1296,
        -416
      ],
      "id": "523b65b7-f07a-49b8-8c30-d5eb0ce37244",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5bd18c6c-45e7-436b-9211-c38db334596a",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        640
      ],
      "id": "c6cb1204-e6d8-44cc-b6c1-bdb4adc64013",
      "name": "set Content"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        96,
        896
      ],
      "id": "2bfa08dd-3518-49d0-8e91-5d6cf19f22b8",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "separator": "\\n",
        "chunkSize": 600
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        80,
        1120
      ],
      "id": "34015e3d-3edf-47fa-a060-30d574117ad1",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2832,
        80
      ],
      "id": "1104c4ce-c03d-4d0c-8f78-7202bfe40716",
      "name": "Send a text message",
      "webhookId": "25978fa4-a7f4-496d-90fc-72a23ab1a12e",
      "credentials": {
        "telegramApi": {
          "id": "oy1rl7d7ACn56JwN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "mydocs",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        96,
        640
      ],
      "id": "c22774a2-d4b0-474b-aebf-fc8adc385b7f",
      "name": "add to Vectore Database"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9aa23f86-8e96-4cda-89ef-2f8e92836988",
              "name": "output",
              "value": "Your document added with success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        624
      ],
      "id": "789edfdc-e7ab-4fab-8ff0-4ca3777ceb9e",
      "name": "set Output from Insert VD"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice[\"file_id\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -560,
        -16
      ],
      "id": "1088212f-088b-4f6f-9c66-b345aa13fd1d",
      "name": "Get the voice",
      "webhookId": "b2ade90f-f3a0-4573-a824-6f592dbd8216",
      "credentials": {
        "telegramApi": {
          "id": "oy1rl7d7ACn56JwN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -352,
        -16
      ],
      "id": "de7abe72-976c-49c5-afd0-dc9ce26b90ed",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "ewMDzXfRPQrSlmHs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf17ea6f-39a6-440e-b200-c1e4a8f63f86",
              "name": "query",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -32
      ],
      "id": "511cba72-c9c8-4d67-9134-97afff247225",
      "name": "set Query from vioce"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1712,
        240
      ],
      "id": "b0a29ca8-1707-40eb-9555-afcac1b1705e",
      "name": "Send a message in Gmail",
      "webhookId": "011751d9-15a4-47f0-8a31-2edce7d02eae",
      "credentials": {
        "gmailOAuth2": {
          "id": "9yMNgRZ2bjKjDTb6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1856,
        96
      ],
      "id": "f09d712b-3fb7-4bfb-844b-a6226dc5726c",
      "name": "Get many messages in Gmail",
      "webhookId": "011751d9-15a4-47f0-8a31-2edce7d02eae",
      "credentials": {
        "gmailOAuth2": {
          "id": "9yMNgRZ2bjKjDTb6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1952,
        -16
      ],
      "id": "66dc245a-82b7-4b74-a64a-43b78e9ba461",
      "name": "Reply to a message in Gmail",
      "webhookId": "011751d9-15a4-47f0-8a31-2edce7d02eae",
      "credentials": {
        "gmailOAuth2": {
          "id": "9yMNgRZ2bjKjDTb6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a email agent, your job is to reply, send or read emails as per request.\n\nIf the user asks for reply, make sure you get the email then use the message id to replay.\n\nYou can call more then one if necessart .\n\nIf you call get many gmails, make sure you include their ids and emails.\n\nMake sure the email is clean and has no > or < at it.\nToday is {{$now}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1568,
        -176
      ],
      "id": "4ff25123-d757-4e76-b367-d6b44c412c57",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "emails"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1664,
        32
      ],
      "id": "55a1ec62-e572-4c3b-a4d2-6521c594d881",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1552,
        -16
      ],
      "id": "7144a516-1874-44dd-bb60-9a3186ddd4f6",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ewMDzXfRPQrSlmHs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "e4498b24b2a35a7b1e59d51373395a826f477eae5c3290d54b53785ab257bf10@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI Receptionist calendar"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1392,
        128
      ],
      "id": "9fa43c6c-779c-4d44-82a1-db79dedb79a7",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5kGZzb51nmWTK74Z",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "e4498b24b2a35a7b1e59d51373395a826f477eae5c3290d54b53785ab257bf10@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI Receptionist calendar"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1152,
        368
      ],
      "id": "510bae68-651b-4a88-8517-ca64eee5d864",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5kGZzb51nmWTK74Z",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "e4498b24b2a35a7b1e59d51373395a826f477eae5c3290d54b53785ab257bf10@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI Receptionist calendar"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1376,
        -32
      ],
      "id": "346be093-5c0f-4586-b296-fb2717267ba5",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5kGZzb51nmWTK74Z",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "AI Agent that can call other tools, you will return all the details related to the output of the tool, dont summerize it",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a calander agent, your job is to check availability, create or delete event as per request. You can call more then one if necesseray .\n\nYou will output the output of the tools , you will not summerize it.\nIf you call get many events, make sure you output the id of each one.\nToday is {{$now}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1120,
        -128
      ],
      "id": "c3393c5c-30ca-4545-bced-73100ff90f08",
      "name": "Calander Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        960,
        80
      ],
      "id": "823914ad-86cb-40a4-820e-2205b574d355",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "ewMDzXfRPQrSlmHs",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "calander",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1088,
        224
      ],
      "id": "f2644093-ab0e-4126-82fb-807b48b04a78",
      "name": "Calander Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "e4498b24b2a35a7b1e59d51373395a826f477eae5c3290d54b53785ab257bf10@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI Receptionist calendar"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {
          "fields": "items(id, summary, start, end)"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1264,
        240
      ],
      "id": "d3c0845c-2e86-42cc-8c7b-9dcb880485c8",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5kGZzb51nmWTK74Z",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Loop over input items and add a new field called 'my_new_field' to the JSON of each one\nfor item in _items:\n  item[\"json\"][\"output\"] = item[\"json\"][\"output\"].replace(\">\", \"\").replace(\"<\", \"\")\nreturn _items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        64
      ],
      "id": "b3e5b825-90b9-4467-a227-3e7e20233b07",
      "name": "Code in Python (Native) (Beta)"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get the voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "add to Vectore Database",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "set Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in Python (Native) (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set Content": {
      "main": [
        [
          {
            "node": "add to Vectore Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "add to Vectore Database",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "add to Vectore Database": {
      "main": [
        [
          {
            "node": "set Output from Insert VD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set Output from Insert VD": {
      "main": [
        [
          {
            "node": "Code in Python (Native) (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the voice": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "set Query from vioce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set Query from vioce": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Email Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calander Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calander Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calander Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calander Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Calander Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calander Memory": {
      "ai_memory": [
        [
          {
            "node": "Calander Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calander Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Native) (Beta)": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "update_id": 66690670,
        "message": {
          "message_id": 374,
          "from": {
            "id": 6200418347,
            "is_bot": false,
            "first_name": "AI",
            "last_name": "Josheow",
            "username": "Josheow",
            "language_code": "fr"
          },
          "chat": {
            "id": 6200418347,
            "first_name": "AI",
            "last_name": "Josheow",
            "username": "Josheow",
            "type": "private"
          },
          "date": 1762538162,
          "text": "list my recent emails"
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a65a7a2e0cc24c9f934806e1ab1f665eb4c63db001fe88bca6712f5aafd91a65"
  }
}
