scrapping-emails-from-google-maps.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        -32
      ],
      "id": "d8bec7ec-78c6-4ed4-a68e-660bfd5c85b0",
      "name": "When chat message received",
      "webhookId": "4bc6494b-6a67-4403-80c7-add19460ec7c"
    },
    {
      "parameters": {
        "url": "=https://www.google.com/maps/search/{{ $json.chatInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        -32
      ],
      "id": "7224b369-9c93-4c8a-81ea-d20d7a5a958a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data\n\nconst regex = /https?:\\/\\/[^\\/]+/g\n\nconst urls = data.match(regex)\n\nreturn urls.map(url => ({json: {url: url}}))"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -32
      ],
      "id": "73b5bfe1-9608-4eb1-ad3c-0ff2d3df0c68",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c3f99e2-a05f-47c7-9326-92fa4f4004ef",
              "leftValue": "={{ $json.url }}",
              "rightValue": "(google|gstatic|ggpht|schema\\.org|example\\.com|sentry-next\\.wixpress\\.com|imli\\.com|sentry\\.wixpress\\.com|ingest\\.sentry\\.io)",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        192,
        -32
      ],
      "id": "6174d7c1-af62-4c2e-8582-4c3af6fe5493",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        400,
        -32
      ],
      "id": "d0b30984-ae15-44c9-ac72-026afe4c0637",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        -32
      ],
      "id": "07730054-7c08-4bc1-a064-ae95fd4a2e16",
      "name": "Loop Over Items",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        -16
      ],
      "id": "44f7bf6a-26bf-4766-be73-dc3f3425229e",
      "name": "Check the website",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        -224
      ],
      "id": "3dc0ec6a-f746-4e2a-9cf6-2ec215ef37fb",
      "name": "Loop over scrapped data"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data\n\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g\n\nconst emails = data.match(emailRegex)\n\nreturn {json: {emails: emails}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -208
      ],
      "id": "c16dfcb3-4992-45eb-91fe-521da602a7a6",
      "name": "Get all emails",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "emails"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1264,
        -352
      ],
      "id": "1eddb55a-4e43-476e-bedc-2d5f4ebc3708",
      "name": "Aggregate all the emails"
    },
    {
      "parameters": {
        "fieldToSplitOut": "emails",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1456,
        -352
      ],
      "id": "32e4b58e-24b5-4ca5-bf76-53abea86eb16",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1632,
        -352
      ],
      "id": "06d19281-ecac-4db3-998e-3cb6bfc275db",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6fdaefe5-f687-4d8f-b0f0-314335c43fde",
              "leftValue": "emails",
              "rightValue": "=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry\\.wixpress\\.com|sentry-next\\.wixpress\\.com|ingest\\.sentry\\.io|sentry\\.io|imli\\.com)",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1840,
        -352
      ],
      "id": "3a9e0cfc-27c2-446c-8c9a-863e7d1ff592",
      "name": "Fillter irrelavant emails"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14yiQSxt7cTmnuCgfjHgkZ4QlkHqKUaHvzvk-Y1GUE44",
          "mode": "list",
          "cachedResultName": "MyLeads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yiQSxt7cTmnuCgfjHgkZ4QlkHqKUaHvzvk-Y1GUE44/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14yiQSxt7cTmnuCgfjHgkZ4QlkHqKUaHvzvk-Y1GUE44/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Emails": "={{ $json.emails }}"
          },
          "matchingColumns": [
            "Emails"
          ],
          "schema": [
            {
              "id": "Emails",
              "displayName": "Emails",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2048,
        -352
      ],
      "id": "ea2b330b-f838-4a30-bbd2-e5a8d4da6b44",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ytUkyEivpdNBMQ6x",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop over scrapped data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check the website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check the website": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop over scrapped data": {
      "main": [
        [
          {
            "node": "Aggregate all the emails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get all emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all emails": {
      "main": [
        [
          {
            "node": "Loop over scrapped data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate all the emails": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Fillter irrelavant emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fillter irrelavant emails": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When chat message received": [
      {
        "sessionId": "a1c5b3099eb34a9c9b039646d85d821d",
        "action": "sendMessage",
        "chatInput": "real+estate+in+new+york"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ed0e765e2b1b4e993d756da482bdc369c96205182861df762f53987d55eba16"
  }
}
