WhatsappWebhook_Verification.json
{
  "nodes": [
    {
      "parameters": {
        "path": "228d830f-6001-4995-859d-5b510ed39db3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        176
      ],
      "id": "a420037e-4434-4d05-9444-566004e63f18",
      "name": "Webhook",
      "webhookId": "228d830f-6001-4995-859d-5b510ed39db3"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook').item.json.query[\"hub.challenge\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        528,
        160
      ],
      "id": "bc670a46-5ec7-4375-84f8-4f9b600d506b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "783d718c-4e5d-457b-9107-274d9e13fd77",
              "leftValue": "={{ $json.verify_token }}",
              "rightValue": "={{ $('Webhook').item.json.query[\"hub.verify_token\"] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        176
      ],
      "id": "7077bf2d-6119-4cd4-b48e-ea43513be9af",
      "name": "Check the verify token"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7a64334-98af-465e-8afe-348108497ea2",
              "name": "verify_token",
              "value": "token",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        176
      ],
      "id": "ed6de2df-8259-4a73-bffc-36bc04cb4a81",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check the verify token": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Check the verify token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bca60492606e67bb56468093fc75425ac3d20b14abf07d82bf2394c609c37d26"
  }
}
