AI Meeting app/create-asan-tasks.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a helpful assistant, your job is to generate a to do lists based on the meetings recape"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        480,
        352
      ],
      "id": "47dadd9a-cd3a-4f3c-9f23-c5aa8fd1a098",
      "name": "Tasks"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        560
      ],
      "id": "40ba5585-a355-4ed9-b9dd-393ea1257fbf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "i8fjVqBdlqh7Hm8E",
          "name": "PAID TIER"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"task\":\"Task title\",\n  \"note\":\"Task note\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        624,
        560
      ],
      "id": "bcb3b93c-6e4e-4906-a28b-19e953aa13ce",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "workspace": "1212556142303567",
        "name": "={{ $json.output.task }}",
        "otherProperties": {
          "notes": "={{ $json.output.note }}",
          "projects": [
            "1212569360891981"
          ]
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        832,
        352
      ],
      "id": "b262d9f8-1d1e-49ca-a40b-dad181a0329a",
      "name": "Create a task",
      "credentials": {
        "asanaApi": {
          "id": "QpO0MgI6fub9NBJ3",
          "name": "Asana account 2"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasks": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tasks",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Tasks",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bca60492606e67bb56468093fc75425ac3d20b14abf07d82bf2394c609c37d26"
  }
}
