AI Meeting app/notion-subworkflow.json
{
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            },
            {
              "name": "customerName"
            }
          ]
        }
      },
      "id": "65842c9d-f6c5-46be-8eeb-d531b7b18466",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -528,
        1184
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"page\": {\n    \"title\": \"string\"\n  },\n  \"blocks\": [\n    {\n      \"type\": \"block_type\",\n      \"data\": {}\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -176,
        1392
      ],
      "id": "3200b76a-4152-42b1-a836-d3269673bd12",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Yp from thou are a helpful assistant, your job is to generate a recae provided meeting transcript, dont start with \"Of couse\", \"here is the reca\" or any sort of things, straight to the point.|NOTES: Use rich text no mardownYou are generating structured output for the Notion API. Return valid JSON only. Each section must be mapped to a Notion block type. Do not use markdown. Do not include explanations.Notion Block definition🔹 Paragraph{  \"type\": \"paragraph\",  \"data\": {    \"text\": \"string\"  }}🔹 Heading{  \"type\": \"heading_2\",  \"data\": {    \"text\": \"string\"  }}🔹 Bulleted List{  \"type\": \"bulleted_list_item\",  \"data\": {    \"text\": \"string\"  }}🔹 Numbered List{  \"type\": \"numbered_list_item\",  \"data\": {    \"text\": \"string\"  }}🔹 To-Do (Action Items){  \"type\": \"to_do\",  \"data\": {    \"text\": \"string\",    \"checked\": false  }}🔹 Callout (Decisions / Risks / Notes){  \"type\": \"callout\",  \"data\": {    \"text\": \"string\",    \"emoji\": \"⚠️\"  }}🔹 Divider{  \"type\": \"divider\",  \"data\": {}}Example: {    \"children\": [      {        \"object\": \"block\",        \"type\": \"heading_2\",        \"heading_2\": {          \"rich_text\": [            {              \"type\": \"text\",              \"text\": { \"content\": \"Summary\" }            }          ]        }      },      {        \"object\": \"block\",        \"type\": \"paragraph\",        \"paragraph\": {          \"rich_text\": [            {              \"type\": \"text\",              \"text\": {                \"content\": \"The team reviewed the Q1 roadmap and identified performance risks.\"              }            }          ]        }      },      {        \"object\": \"block\",        \"type\": \"heading_2\",        \"heading_2\": {          \"rich_text\": [            {              \"type\": \"text\",              \"text\": { \"content\": \"Action Items\" }            }          ]        }      },      {        \"object\": \"block\",        \"type\": \"to_do\",        \"to_do\": {          \"rich_text\": [            {              \"type\": \"text\",              \"text\": { \"content\": \"Profile reporting API queries\" }            }          ],          \"checked\": false        }      },      {        \"object\": \"block\",        \"type\": \"callout\",        \"callout\": {          \"rich_text\": [            {              \"type\": \"text\",              \"text\": { \"content\": \"Defer analytics dashboard v2 to March\" }            }          ],          \"icon\": {            \"emoji\": \"⚠️\"          }        }      }    ]  }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -320,
        1184
      ],
      "id": "c4ae6a2a-fb4c-44bc-ac49-33e7c6654455",
      "name": "Notion blocks"
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "https://www.notion.so/Meetings-notes-Clients-2d2561cf07268003828fd29c8503a4bc?source=copy_link",
          "mode": "url"
        },
        "title": "={{ $('When Executed by Another Workflow').item.json.customerName }} Note meeting",
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        32,
        1184
      ],
      "id": "08cf69ed-3e1c-4946-8361-7dc024ea268d",
      "name": "Create a page",
      "credentials": {
        "notionApi": {
          "id": "UOH2OTXgi2cJjYd3",
          "name": "Notion account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -432,
        1392
      ],
      "id": "c5339ffb-2024-4fb0-95e7-3a15a304c186",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "i8fjVqBdlqh7Hm8E",
          "name": "PAID TIER"
        }
      }
    },
    {
      "parameters": {
        "content": "## Notion SubWorkflow\nThis subworkflow create notion page and  genrate notion blocks, you will need notion intigration secret, you will find it [here](https://www.notion.so/profile/integrations/internal), create new intigration, then copy and past the secret, go to the parent page of notion, click the three dots at the top right, select connections, add the intigration connection you created earlier",
        "height": 464,
        "width": 1104,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        1072
      ],
      "id": "558fa80a-76f9-4aec-96be-c6c8ec037d2d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $('Create a page').item.json.id }}/children",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Notion blocks').item.json.output.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        1184
      ],
      "id": "bd423243-507e-4b62-9c7a-30500516ecf5",
      "name": "Create notion blocks",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hLBOuc6zSV9nl9O1",
          "name": "notion"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Notion blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Notion blocks",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Notion blocks": {
      "main": [
        [
          {
            "node": "Create a page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a page": {
      "main": [
        [
          {
            "node": "Create notion blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Notion blocks",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "bca60492606e67bb56468093fc75425ac3d20b14abf07d82bf2394c609c37d26"
  }
}
